# ignore vim temp files                                                                                                                                                     
*.sw[op]                                                                                                                                                                    
                                                                                                                                                                            
# ignore OSX 'folder' metadata                                                                                                                                              
.DS_Store  

/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
